<!-- <h1 class="mt=3 mb-3">Course Companies</h1>
<p *ngFor="let tempCompany of companies">
  Company Name: {{ tempCompany.company_name }}<br />
  URL: {{ tempCompany.website }}
</p> -->

<table class="table">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Company</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempCompany of companies">
      <td></td>
      <td>{{ tempCompany.company_name }}</td>
      <td>{{ tempCompany.website }}</td>
    </tr>
  </tbody>
</table>
